<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="C:\Users\xiaomi\IdeaProjects\AgroShop\src\main\resources\styles\home.css"/>
</head>
<body>
<header>
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Оплата и доставка</a></li>
        <li><a href="#">Оптовым покупателям</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Отзывы</a></li>
    </ul>
</header>
<main>
    <div class="grid">
        <div class="header">
            <div class="left-box">
                <a href="#"><img src="https://freshmart.com.ua/data/logo/logo_ru.svg" alt="logo"></a>
            </div>
            <div class="right-box">
                <input type="text" placeholder="Поиск"/>
                <select name="lang">
                    <option value="ru">Ru</option>
                    <option value="en">En</option>
                    <option value="ua">Ua</option>
                </select>
                <a href="#"><img src="https://i.pinimg.com/originals/ec/61/d3/ec61d3114cc5269485d508244f531bdf.png"
                                 alt="user"/>
                </a>
                <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/minimal-set-seven/32/minimal-49-512.png"
                                 alt="cart"></a>
            </div>
        </div>

        <aside class="navContainer">
            <ul>
                <li>Саженцы
                    <ul>
                        <li><a href="#">Яблоня</a></li>
                        <li><a href="#">Груша</a></li>
                        <li><a href="#">Лимон</a></li>
                    </ul>
                </li>
                <li>Семена
                    <ul>
                        <li><a href="#">Яблоня</a></li>
                        <li><a href="#">Груша</a></li>
                        <li><a href="#">Лимон</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <section class="content">
            <div class="over-catalog-container">
                    <h1>Травы</h1>
                    <ul>
                        <li><a href="#">По умолчанию</a></li>
                        <li><a href="#">По алфавиту</a></li>
                        <li><a href="#">Дешёвые → Дорогие</a></li>
                        <li><a href="#">Дорогие → Дешёвые</a></li>
                    </ul>
            </div>
            <section class="catalog">
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
                <figure>
                    <img src="https://freshmart.com.ua/storage/web/cache/product/1650/listyya-nasturtsii-10g.jpeg?w=372&h=234&fit=resize&q=80&fm=pjpg&t=1571611395&s=887f3110e7e6885769bde0661b628778"
                         alt="product"/>
                    <figcaption>Title</figcaption>
                    <p>Description</p>
                    <p>Cost</p>
                </figure>
            </section>
        </section>

    </div>
</main>
<footer></footer>
</body>
</html>